:root{
  --black: #000000;
  --yellow: #FF8700;
  --blue: #23138D;
  --white: #FFFFFF;
  --red: #D4403A;
  --green: #198754;
  --button-fs: 0.9rem;
  --button-tbp:0.75px;
  --button-lrp:0.375rem;
  --button-br:0.375rem;
}
@font_face{
  font-family:Jameel Noori Nastaleeq;
  src:url('../fonts/Jameel Noori Nastaleeq.ttf');
}

body{
  font-family: "Jameel Noori Nastaleeq";
}
input{
  text-align: right;
  margin-bottom: 10px;
}
.form-group {
  text-align: right;
  font-size: 24px;
}
.navbar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoice-head td {
  padding: 0 8px;
}
.container {
  padding-top:30px;
}
.invoice-body{
  background-color:transparent;
}
.invoice-thank{
  margin-top: 60px;
  padding: 5px;
}

.btn-blue {
  font-size: var(--button-fs);
  color: var(--white);
  background-color: var(--blue);
  text-decoration: none;
  padding: var(--button-tbp) var(--button-lrp);
  border-radius: var(--button-br);
}

.btn-blue:hover{
  background-color: var(--yellow);
}

.btn-orange:hover{
    background-color: var(--blue);
}

.btn-red:hover{
  background-color: var(--black);
}

.btn-yellow:hover{
  background-color: var(--yellow);
}


.btn-orange {
  font-size: var(--button-fs);
  color: var(--white);
  background-color: var(--yellow);
  text-decoration: none;
  padding: var(--button-tbp) var(--button-lrp);
  border-radius: var(--button-br);
  margin-left: 5px;
  border: none;
}

.btn-red {
  font-size: var(--button-fs);
  color: var(--white);
  background-color: var(--red);
  text-decoration: none;
  padding: var(--button-tbp) var(--button-lrp);
  border-radius: var(--button-br);
  margin-left: 5px;
}

.btn-yellow {
  font-size: var(--button-fs);
  color: var(--black);
  background-color: #ffc107;
  text-decoration: none;
  padding: var(--button-tbp) var(--button-lrp);
  border-radius: var(--button-br);
  margin-left: 5px;
  margin-right: 5px;
}

table tbody tr td .btn-orange {
  font-size: var(--button-fs);
  color: var(--white);
  background-color: var(--yellow);
  text-decoration: none;
  padding: var(--button-tbp) var(--button-lrp);
  border-radius: var(--button-br);
  margin-left: 5px;
}
table tbody tr td .btn-orange:hover{
  background-color: var(--blue);
}

table tbody tr td .btn-blue {
  font-size: var(--button-fs);
  color: var(--white);
  background-color: var(--blue);
  text-decoration: none;
  padding: var(--button-tbp) var(--button-lrp);
  border-radius: var(--button-br);
}

table tbody tr td .btn-blue:hover{
  background-color: var(--yellow);
}

table tbody tr td .btn-red {
  font-size: var(--button-fs);
  color: var(--white);
  background-color: var(--red);
  text-decoration: none;
  padding: var(--button-tbp) var(--button-lrp);
  border-radius: var(--button-br);
  margin-left: 5px;
}
table tbody tr td .btn-red:hover{
  background-color: var(--black);
}
table tbody tr td .btn-yellow {
  font-size: var(--button-fs);
  color: var(--black);
  background-color: #ffc107;
  text-decoration: none;
  padding: var(--button-tbp) var(--button-lrp);
  border-radius: var(--button-br);
  margin-left: 5px;
  margin-right: 5px;
}

table tbody tr td .btn-add-trans:hover{
  background-color: var(--black);
  color: var(--white);
}

table thead tr th{
	font-size: 14px;
}

nav .container1{
  padding: 0px !important;
  height: 100vh;
}

nav .container1 a {
  text-decoration: none;
  color: #23138D;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 18px;
  letter-spacing: 0.3;
/*  font-family: cursive;*/
}

nav .container1 a .icon{
 margin-left:10px; 
}

.nav-link:hover{
  background-color: var(--blue);
  color: var(--white);
  transform: scale(1.02);

}

.nav-link.active {
  background-color: var(--blue);
  color: var(--white);
}

nav {
  background-color: #FFffff;
  width: 300px;
  overflow: hidden;
/*  border-right: 2px solid #23138D;*/
}
.btn-reg:hover{
  background-color: var(--yellow);
  color: var(--white);
}
.btn-reg{
  background-color: var(--blue);
  color: var(--white);
}

.btn-login{
  background-color: var(--yellow);
  color: var(--white);  
}
.btn-login:hover{
  background-color: var(--blue);
  color: var(--white);
  
}
.login{
  height: 100vh;
}
.login .bg-login{
  background-image: url("../abstract.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  background-color: #dfdfdf;  
}
