:root{
  --yellow: #FF8700;
  --blue: #23138D;
  --white: #FFFFFF;
  --red: #e63946;
}
@font_face{
  font-family:Jameel Noori Nastaleeq;
  src:url('../fonts/Jameel Noori Nastaleeq.ttf');
}

body{
  font-family: "Jameel Noori Nastaleeq";
}
input{
  text-align: right;
  margin-bottom: 10px;
}
.form-group {
  text-align: right;
  font-size: 24px;
}
.navbar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoice-head td {
  padding: 0 8px;
}
.container {
  padding-top:30px;
}
.invoice-body{
  background-color:transparent;
}
.invoice-thank{
  margin-top: 60px;
  padding: 5px;
}

table tbody tr td .btn-edit {
  font-size: 14px;
  color: var(--white);
  background-color: var(--yellow);
  text-decoration: none;
  padding: 2px 15px;
  border-radius: 100px;
  margin-left: 10px;
}
table tbody tr td .btn-edit:hover{
  background-color: var(--blue);

}

table tbody tr td .btn-delete {
  font-size: 14px;
  color: var(--white);
  background-color: var(--blue);
  text-decoration: none;
  padding: 2px 15px;
  border-radius: 100px;
}

table tbody tr td .btn-delete:hover{
  background-color: var(--yellow);
}

table thead tr th{
	font-size: 14px;
}

nav .container1{
  padding: 0px !important;
  height: 100vh;
}

nav .container1 a {
  text-decoration: none;
  color: #23138D;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 18px;
  letter-spacing: 0.3;
/*  font-family: cursive;*/
}

nav .container1 a .icon{
 margin-left:10px; 
}

.nav-link:hover{
  background-color: var(--blue);
  color: var(--white);
  transform: scale(1.02);

}

.nav-link.active {
  background-color: var(--blue);
  color: var(--white);
}

nav {
  background-color: #FFffff;
  width: 300px;
  overflow: hidden;
/*  border-right: 2px solid #23138D;*/
}
.btn-reg:hover{
  background-color: var(--yellow);
  color: var(--white);
}
.btn-reg{
  background-color: var(--blue);
  color: var(--white);
}

.btn-login{
  background-color: var(--yellow);
  color: var(--white);  
}
.btn-login:hover{
  background-color: var(--blue);
  color: var(--white);
  
}
.login{
  height: 100vh;
}
.login .bg-login{
  background-image: url("../abstract.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  background-color: #dfdfdf;
}
